.jqx-rc-tl-custom-menu
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-custom-menu
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-custom-menu
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-custom-menu
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-custom-menu
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-custom-menu
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-custom-menu
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-custom-menu
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-custom-menu
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-custom-menu {
    font-size: 12px; line-height: 17px;
    font-family: 'segoe ui', arial, sans-serif;
    color: inherit;
}
.jqx-widget-content-custom-menu{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background-color: #252526;}
.jqx-widget-header-custom-menu{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; color: #ffffff; border-color:#35353A; background-color:#3E3E42;}
.jqx-fill-state-normal-custom-menu{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-fill-state-hover-custom-menu{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color:#1C97EA; color: #fff; background-color:#1C97EA;

}
.jqx-fill-state-focus-custom-menu { border-color: #000; }
.jqx-fill-state-pressed-custom-menu{border-color:#007ACC; color: #fff; background-color:#007ACC;

}
.jqx-fill-state-disabled-custom-menu {
    color: #898989;
}
.jqx-input-custom-menu {
    border-color: #35353A;
}
.jqx-scrollbar-state-normal-custom-menu, .jqx-grid-bottomright-custom-menu, .jqx-panel-bottomright-custom-menu, .jqx-listbox-bottomright-custom-menu{background-color:#3E3E42;}
.jqx-widget-custom-menu .jqx-grid-column-header-custom-menu, .jqx-grid-cell-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-custom-menu, .jqx-widget-custom-menu .jqx-grid-group-cell-custom-menu, .jqx-grid-group-cell-custom-menu{font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #1C1C1E; background-color: #2A2A2C; color: #fff;}
.jqx-tabs-title-selected-bottom-custom-menu, .jqx-tabs-selection-tracker-bottom-custom-menu, .jqx-tabs-title-selected-top-custom-menu, .jqx-tabs-selection-tracker-top-custom-menu{color: #ffffff; border-color:#35353A; border-bottom:1px solid #252526; background:#007ACC}
.jqx-widget-custom-menu .jqx-grid-cell-alt-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-sort-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-pinned-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-filter-custom-menu, .jqx-grid-cell-sort-alt-custom-menu, .jqx-grid-cell-filter-alt-custom-menu, .jqx-grid-cell-pinned-custom-menu, .jqx-grid-cell-alt-custom-menu, .jqx-grid-cell-sort-custom-menu{ background-color:#3E3E42; color: #fff;}
.jqx-menu-vertical-custom-menu{background: #3E3E42; border-color: #3E3E42;}
.jqx-widget-custom-menu .jqx-grid-cell-custom-menu, .jqx-widget-custom-menu .jqx-grid-column-header-custom-menu, .jqx-widget-custom-menu .jqx-grid-group-cell-custom-menu { border-color: #35353A;}

.jqx-widget-custom-menu .jqx-grid-column-menubutton-custom-menu, .jqx-widget-custom-menu .jqx-grid-column-sortascbutton-custom-menu, .jqx-widget-custom-menu .jqx-grid-column-sortdescbutton-custom-menu, .jqx-widget-custom-menu .jqx-grid-column-filterbutton-custom-menu {
    background-color: transparent;
    border-color: #35353A;
}
.jqx-window-header-custom-menu, .jqx-input-button-header-custom-menu, .jqx-calendar-title-header-custom-menu, .jqx-grid-custom-menu .jqx-widget-header-custom-menu, .jqx-grid-header-custom-menu, .jqx-grid-column-header-custom-menu {font-size: 12px; line-height: 17px; font-family: 'segoe ui', arial, sans-serif; border-color: #35353A; color: #ffffff; background: #3E3E42;}
.jqx-grid-column-menubutton-custom-menu {
    background-image: url('images/metro-icon-down-white.png');
 }
.jqx-widget-custom-menu .jqx-grid-cell-selected-custom-menu, .jqx-grid-cell-selected-custom-menu{ background-color:#007ACC; border-color: #007ACC; font-size: 12px;  color:#fff;}
.jqx-widget-custom-menu .jqx-grid-cell-hover-custom-menu, .jqx-grid-cell-hover-custom-menu{ background-color:#1C97EA; border-color: #1C97EA;}
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-custom-menu {
    background-image: url('images/metro-icon-up-white.png');
 }
.jqx-grid-column-sortdescbutton-custom-menu {
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-checkbox-check-checked-custom-menu{background:transparent url(images/check_white.png) center center no-repeat}
.jqx-checkbox-check-indeterminate-custom-menu{background:transparent url(images/check_indeterminate_white.png) center center no-repeat}
.jqx-checkbox-hover-custom-menu, .jqx-radiobutton-hover-custom-menu {
    background-color: #3E3E42;
    border-color: #3E3E42;
}
.jqx-radiobutton-check-checked-custom-menu {
    background: #fff;
    border-color: #fff;
}

.jqx-scrollbar-thumb-state-normal-horizontal-custom-menu, .jqx-scrollbar-thumb-state-normal-custom-menu {
    background: #686868; border-color: #686868;
}
.jqx-scrollbar-thumb-state-hover-horizontal-custom-menu, .jqx-scrollbar-thumb-state-hover-custom-menu {
    background: #9E9E9E; border-color: #9E9E9E;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-custom-menu, .jqx-scrollbar-thumb-state-pressed-custom-menu {
    background: #ffffff; border-color: #ffffff;
}
.jqx-scrollbar-button-state-normal-custom-menu
{
    border: 1px solid #3E3E42; 
    background: #3E3E42;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-custom-menu
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-custom-menu
{
    border: 1px solid #3E3E42;
    background: #3E3E42;
}

/*icons*/
.jqx-window-collapse-button-custom-menu
{
    background-image: url(images/metro-icon-up-white.png);
}
.jqx-window-collapse-button-collapsed-custom-menu {
  background-image: url(images/metro-icon-down-white.png);
}
.jqx-icon-arrow-up-custom-menu, .jqx-expander-arrow-bottom-custom-menu, .jqx-menu-item-arrow-up-custom-menu
{
    background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-down-custom-menu, .jqx-expander-arrow-top-custom-menu, .jqx-tree-item-arrow-expand-custom-menu, .jqx-tree-item-arrow-expand-hover-custom-menu, .jqx-menu-item-arrow-down-custom-menu
{
    background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-left-custom-menu, .jqx-menu-item-arrow-left-custom-menu
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-right-custom-menu, .jqx-menu-item-arrow-right-custom-menu, .jqx-tree-item-arrow-collapse-custom-menu, .jqx-tree-item-arrow-collapse-hover-custom-menu
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-tabs-arrow-left-custom-menu, .jqx-tree-item-arrow-collapse-rtl-custom-menu, .jqx-tree-item-arrow-collapse-hover-rtl-custom-menu
{
    background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-custom-menu
{
    background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-up-selected-custom-menu, .jqx-icon-arrow-up-selected-custom-menu{background-image:url('images/metro-icon-up-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-custom-menu, .jqx-icon-arrow-down-selected-custom-menu{background-image:url('images/metro-icon-down-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-custom-menu, .jqx-icon-arrow-left-selected-custom-menu{background-image:url('images/metro-icon-left-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-custom-menu, .jqx-icon-arrow-right-selected-custom-menu{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat;background-position:center;}
.jqx-window-close-button-custom-menu, .jqx-icon-close-custom-menu, .jqx-tabs-close-button-custom-menu, .jqx-tabs-close-button-hover-custom-menu, .jqx-tabs-close-button-selected-custom-menu{background-image:url(images/close_white.png);  background-repeat:no-repeat;  background-position:center}
.jqx-listbox-feedback-custom-menu {
    border-top: 1px dashed #fff;
}

.jqx-scrollbar-custom-menu .jqx-icon-arrow-up-selected-custom-menu{background-image:url('images/metro-icon-up-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-down-selected-custom-menu{background-image:url('images/metro-icon-down-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-left-selected-custom-menu{background-image:url('images/metro-icon-left-white.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-right-selected-custom-menu{background-image:url('images/metro-icon-right-white.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-button-custom-menu
{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.jqx-input-button-content-custom-menu
{  
    font-size: 10px;
}
.jqx-dropdownlist-state-normal-custom-menu, .jqx-dropdownlist-state-hover-custom-menu, .jqx-dropdownlist-state-selected-custom-menu,
.jqx-scrollbar-button-state-hover-custom-menu, .jqx-scrollbar-button-state-normal-custom-menu, .jqx-scrollbar-button-state-pressed-custom-menu,
.jqx-scrollbar-thumb-state-normal-horizontal-custom-menu, .jqx-scrollbar-thumb-state-hover-horizontal-custom-menu, .jqx-scrollbar-thumb-state-pressed-horizontal-custom-menu,
.jqx-scrollbar-thumb-state-normal-custom-menu, .jqx-scrollbar-thumb-state-pressed-custom-menu, .jqx-button-custom-menu, .jqx-tree-item-hover-custom-menu, .jqx-tree-item-selected-custom-menu,
.jqx-tree-item-custom-menu, .jqx-menu-item-custom-menu, .jqx-menu-item-hover-custom-menu, .jqx-menu-item-selected-custom-menu, .jqx-menu-item-top-custom-menu, .jqx-menu-item-top-hover-custom-menu, 
.jqx-menu-item-top-selected-custom-menu, .jqx-slider-button-custom-menu, .jqx-slider-slider-custom-menu
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-custom-menu {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #35353A;
}
.jqx-switchbutton-thumb-custom-menu {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-custom-menu {
    background: #007ACC;
    color: #007ACC;
}
.jqx-switchbutton-label-off-custom-menu {
    background: #a6a6a6;
    color: #a6a6a6;
}

.jqx-switchbutton-wrapper-custom-menu {
}
.jqx-grid-group-collapse-custom-menu {
    background-image: url(images/metro-icon-right-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-collapse-rtl-custom-menu
{
    padding-right: 0px;
    background-image: url(images/metro-icon-left-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-grid-group-expand-custom-menu, .jqx-grid-group-expand-rtl-custom-menu
{
    padding-right: 0px;
    background-image: url(images/metro-icon-down-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.jqx-icon-arrow-first-custom-menu, .jqx-icon-arrow-first-hover-custom-menu, .jqx-icon-arrow-first-selected-custom-menu
{
    background-image: url('images/metro-icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-custom-menu, .jqx-icon-arrow-last-hover-custom-menu, .jqx-icon-arrow-last-selected-custom-menu
{
    background-image: url('images/metro-icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-selected-custom-menu>.jqx-grid-group-expand-custom-menu,
.jqx-grid-cell-custom-menu.jqx-grid-cell-hover-custom-menu>.jqx-grid-group-expand-custom-menu {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-selected-custom-menu>.jqx-grid-group-collapse-custom-menu,
.jqx-grid-cell-custom-menu.jqx-grid-cell-hover-custom-menu>.jqx-grid-group-collapse-custom-menu {
    background-image: url('images/metro-icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-selected-custom-menu>.jqx-grid-group-collapse-rtl-custom-menu,
.jqx-grid-cell-custom-menu.jqx-grid-cell-hover-custom-menu>.jqx-grid-group-collapse-rtl-custom-menu {
    background-image: url('images/metro-icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-selected-custom-menu>.jqx-grid-group-expand-rtl-custom-menu,
.jqx-grid-cell-custom-menu.jqx-grid-cell-hover-custom-menu>.jqx-grid-group-expand-rtl-custom-menu {
    background-image: url('images/metro-icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tree-grid-expand-button-custom-menu {
    margin-top: 3px;
}
.jqx-icon-search-custom-menu
{
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-passwordinput-password-icon-custom-menu, .jqx-passwordinput-password-icon-rtl-custom-menu
{
    background-image: url(images/icon-showpassword-white.png) !important;
    background-repeat: no-repeat !important;
}
.jqx-icon-calendar-custom-menu, .jqx-icon-calendar-hover-custom-menu, .jqx-icon-calendar-pressed-custom-menu {
    background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-delete-custom-menu
{
    background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-custom-menu
{
    background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-custom-menu
{
    background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-custom-menu
{
    background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-custom-menu
{
    background-image: url(images/search_white.png);
}
.jqx-icon-plus-custom-menu
{
    background-image: url(images/plus_white.png);
}
.jqx-menu-minimized-button-custom-menu {
   background-image: url('images/icon-menu-minimized-white.png');
}
.jqx-widget-custom-menu
{
  font-family: Segoe UI;
}
.jqx-widget-content-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background: #252526;
  font-family: Segoe UI;
}
.jqx-widget-header-custom-menu, .jqx-grid-custom-menu .jqx-widget-header-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #3E94C4;
  background-color: #3E94C4;
  background-image: -moz-linear-gradient(top, #3E94C4, #3E94C4);
  background-image: -ms-linear-gradient(top, #3E94C4, #3E94C4);
  background-image: -o-linear-gradient(top, #3E94C4, #3E94C4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E94C4), to(#3E94C4));
  background-image: -webkit-linear-gradient(top, #3E94C4, #3E94C4);
  background-image: linear-gradient(top, #3E94C4, #3E94C4);
  background-image: linear-gradient(to bottom, #3E94C4, #3E94C4);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-column-menubutton-custom-menu, .jqx-widget-custom-menu.jqx-grid-column-menubutton-custom-menu
{
  border-color: #3E94C4;
}
.jqx-grid-cell-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-custom-menu
{
  background-color: #252526;
  color: #ffffff;
  text-shadow: none;
}
.jqx-fill-state-normal-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-button-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-grid-selectionarea-custom-menu
{
  border-color: #35353A;
  background-color: #3E3E42;
}
.jqx-widget-custom-menu .jqx-grid-cell-sort-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-filter-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-pinned-custom-menu, .jqx-grid-cell-sort-custom-menu, .jqx-grid-cell-filter-custom-menu, .jqx-grid-cell-pinned-custom-menu
{
  background-color: #3E3E42;
  color: #ffffff;
  text-shadow: none;
}
.jqx-widget-custom-menu .jqx-grid-cell-alt-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-sort-alt-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-pinned-alt-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-filter-alt-custom-menu, .jqx-grid-cell-alt-custom-menu, .jqx-grid-cell-sort-alt-custom-menu, .jqx-grid-cell-filter-alt-custom-menu
{
  background-color: #3E3E42;
  color: #ffffff;
  text-shadow: none;
}
.jqx-fill-state-hover-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-hover-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #0F6096;
  background-color: #0F6096;
  background-image: -moz-linear-gradient(top, #0F6096, #0F6096);
  background-image: -ms-linear-gradient(top, #0F6096, #0F6096);
  background-image: -o-linear-gradient(top, #0F6096, #0F6096);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#0F6096), to(#0F6096));
  background-image: -webkit-linear-gradient(top, #0F6096, #0F6096);
  background-image: linear-gradient(top, #0F6096, #0F6096);
  background-image: linear-gradient(to bottom, #0F6096, #0F6096);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-fill-state-pressed-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-selected-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #007ACC;
  background-color: #007ACC;
  background-image: -moz-linear-gradient(top, #007ACC, #007ACC);
  background-image: -ms-linear-gradient(top, #007ACC, #007ACC);
  background-image: -o-linear-gradient(top, #007ACC, #007ACC);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#007ACC), to(#007ACC));
  background-image: -webkit-linear-gradient(top, #007ACC, #007ACC);
  background-image: linear-gradient(top, #007ACC, #007ACC);
  background-image: linear-gradient(to bottom, #007ACC, #007ACC);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Segoe UI;
}
.jqx-switchbutton-label-on-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #007ACC;
  background-color: #007ACC;
  background-image: -moz-linear-gradient(top, #007ACC, #007ACC);
  background-image: -ms-linear-gradient(top, #007ACC, #007ACC);
  background-image: -o-linear-gradient(top, #007ACC, #007ACC);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#007ACC), to(#007ACC));
  background-image: -webkit-linear-gradient(top, #007ACC, #007ACC);
  background-image: linear-gradient(top, #007ACC, #007ACC);
  background-image: linear-gradient(to bottom, #007ACC, #007ACC);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-custom-menu, .jqx-tabs-selection-tracker-top-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  border-bottom: 1px solid #252526;
  background-image: none ;
  background-color: #252526;
}
.jqx-tabs-title-selected-bottom-custom-menu, .jqx-tabs-selection-tracker-bottom-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  border-top: 1px solid #252526;
  background-image: none ;
  background-color: #252526;
}
.jqx-splitter-splitbar-hover-custom-menu
{
  background: #0F6096;
}
.jqx-splitter-splitbar-vertical-custom-menu, .jqx-splitter-splitbar-horizontal-custom-menu, .jqx-slider-track-horizontal-custom-menu, .jqx-slider-track-vertical-custom-menu
{
  background: #3E3E42;
}
.jqx-splitter-collapse-button-horizontal-custom-menu, .jqx-splitter-collapse-button-vertical-custom-menu, .jqx-slider-rangebar-custom-menu
{
  background: #007ACC;
}
.jqx-scrollbar-state-normal-custom-menu
{
  background-color: #3E3E42;
  border-color: #3E3E42;
}
.jqx-grid-bottomright-custom-menu, .jqx-panel-bottomright-custom-menu, .jqx-listbox-bottomright-custom-menu
{
  background-color: #3E3E42;
}
.jqx-scrollbar-thumb-state-normal-custom-menu
{
  background-color: #686868;
  background-color: #686868;
  background-image: -moz-linear-gradient(left, #686868, #686868);
  background-image: -ms-linear-gradient(left, #686868, #686868);
  background-image: -o-linear-gradient(left, #686868, #686868);
  background-image: -webkit-gradient(linear, left top, right top, from(#686868), to(#686868));
  background-image: -webkit-linear-gradient(left, #686868, #686868);
  background-image: linear-gradient(left, #686868, #686868);
  background-image: linear-gradient(left right, #686868, #686868);
}
.jqx-scrollbar-thumb-state-normal-horizontal-custom-menu
{
  background-color: #686868;
  background-color: #686868;
  background-image: -moz-linear-gradient(top, #686868, #686868);
  background-image: -ms-linear-gradient(top, #686868, #686868);
  background-image: -o-linear-gradient(top, #686868, #686868);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#686868), to(#686868));
  background-image: -webkit-linear-gradient(top, #686868, #686868);
  background-image: linear-gradient(top, #686868, #686868);
  background-image: linear-gradient(to bottom, #686868, #686868);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-custom-menu
{
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  background-image: -moz-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, left top, right top, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(left, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(left right, #9E9E9E, #9E9E9E);
}
.jqx-scrollbar-thumb-state-hover-horizontal-custom-menu
{
  background-color: #9E9E9E;
  border-color: #9E9E9E;
  background-image: -moz-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(to bottom, #9E9E9E, #9E9E9E);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-custom-menu
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-custom-menu
{
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-custom-menu
{
  background-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-custom-menu
{
  background-color: #3E3E42;
  border-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-custom-menu
{
  background-color: #3E3E42;
  border-color: #3E3E42;
  background-image: -moz-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -ms-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -o-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3E3E42), to(#3E3E42));
  background-image: -webkit-linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(top, #3E3E42, #3E3E42);
  background-image: linear-gradient(to bottom, #3E3E42, #3E3E42);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-custom-menu
{
  background: #ffffff;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-custom-menu
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-custom-menu
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-custom-menu
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-custom-menu
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-custom-menu
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-custom-menu
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-custom-menu
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-custom-menu
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-custom-menu, .jqx-radiobutton-custom-menu, .jqx-radiobutton-check-checked-custom-menu, .jqx-radiobutton-hover-custom-menu, .jqx-radiobutton-check-indeterminate-custom-menu, .jqx-radiobutton-check-indeterminate-disabled-custom-menu, .jqx-slider-button-custom-menu
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-custom-menu, .jqx-tooltip-custom-menu, .jqx-tooltip-text-custom-menu, .jqx-tooltip-main-custom-menu
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-custom-menu, .jqx-expander-arrow-bottom-custom-menu, .jqx-window-collapse-button-custom-menu, .jqx-menu-item-arrow-up-custom-menu, .jqx-menu-item-arrow-top-up-custom-menu, .jqx-icon-arrow-up-custom-menu
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-arrow-up-hover-custom-menu
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-custom-menu, .jqx-icon-arrow-up-selected-custom-menu.jqx-expander-arrow-expanded-custom-menu
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-grid-column-menubutton-custom-menu, .jqx-grid-column-sortdescbutton-custom-menu, .jqx-expander-arrow-top-custom-menu, .jqx-window-collapse-button-collapsed-custom-menu, .jqx-menu-item-arrow-down-custom-menu, .jqx-menu-item-arrow-down-custom-menu, .jqx-tree-item-arrow-expand-custom-menu, .jqx-grid-group-expand-custom-menu, .jqx-widget-custom-menu .jqx-grid-group-expand-custom-menu, .jqx-icon-arrow-down-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-icon-arrow-down-hover-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-custom-menu, .jqx-icon-arrow-down-selected-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-tabs-arrow-left-custom-menu, .jqx-menu-item-arrow-top-left-custom-menu, .jqx-grid-group-collapse-rtl-custom-menu, .jqx-widget-custom-menu .jqx-grid-group-collapse-rtl-custom-menu, .jqx-icon-arrow-left-custom-menu, .jqx-icon-arrow-down-left-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-icon-arrow-left-hover-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-menu-vertical-custom-menu
{
  background: #252526;
}
.jqx-menu-item-arrow-left-selected-custom-menu, .jqx-icon-arrow-left-selected-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tabs-arrow-right-custom-menu, .jqx-menu-item-arrow-top-right-custom-menu, .jqx-menu-item-arrow-collapse-custom-menu, .jqx-grid-group-collapse-custom-menu, .jqx-widget-custom-menu .jqx-grid-group-collapse-custom-menu, .jqx-icon-arrow-right-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-icon-arrow-right-hover-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-custom-menu, .jqx-icon-arrow-right-selected-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-window-close-button-custom-menu, .jqx-tabs-close-button-custom-menu, .icon-close-custom-menu
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-custom-menu
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-custom-menu
{
  background-image: url('images/close_white.png');
}
.jqx-widget-custom-menu .jqx-grid-column-header-custom-menu, .jqx-widget-custom-menu .jqx-grid-cell-custom-menu, .jqx-widget-custom-menu .jqx-grid-group-cell-custom-menu, .jqx-grid-cell-custom-menu
{
  border-color: #35353A;
}
.jqx-checkbox-check-checked-custom-menu
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-custom-menu
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-custom-menu, .jqx-tooltip-main-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #3E3E42;
}
.jqx-combobox-content-custom-menu, .jqx-input-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #35353A;
  background-color: #252526;
}
.jqx-combobox-input-custom-menu
{
  color: #ffffff;
  text-shadow: none;
}
.jqx-input-content-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  background-color: #252526;
}
.jqx-fill-state-focus-custom-menu, .jqx-popup-custom-menu .jqx-fill-state-focus-custom-menu
{
  border-color: #000000;
}
.jqx-popup-custom-menu.jqx-listbox-custom-menu, .jqx-popup-custom-menu.jqx-calendar-custom-menu,.jqx-menu-dropdown-custom-menu,  .jqx-popup-custom-menu.jqx-dropdownbutton-popup-custom-menu
{
  color: #ffffff;
  text-shadow: none;
  border-color: #3E94C4;
  background-color: #24739E;
}
.jqx-menu-item-arrow-right-custom-menu, .jqx-tree-item-arrow-collapse-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-menu-item-arrow-left-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-tree-item-arrow-expand-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-up-custom-menu
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-left-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-right-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-bottom-custom-menu
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-up-hover-custom-menu
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-left-hover-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-right-hover-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-bottom-hover-custom-menu
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-up-selected-custom-menu
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-left-selected-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-right-selected-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-scrollbar-custom-menu .jqx-icon-arrow-bottom-selected-custom-menu
{
  background-image: url('images/metro-icon-bottom-white.png');
}
.jqx-calendar-custom-menu .jqx-icon-arrow-up-custom-menu, .jqx-tabs-header-custom-menu .jqx-icon-arrow-up-custom-menu
{
}
.jqx-calendar-custom-menu .jqx-icon-arrow-left-custom-menu, .jqx-tabs-header-custom-menu .jqx-icon-arrow-left-custom-menu
{
}
.jqx-calendar-custom-menu .jqx-icon-arrow-right-custom-menu, .jqx-tabs-header-custom-menu .jqx-icon-arrow-right-custom-menu
{
}
.jqx-calendar-custom-menu .jqx-icon-arrow-bottom-custom-menu, .jqx-tabs-header-custom-menu .jqx-icon-arrow-bottom-custom-menu
{
}
.jqx-widget-custom-menu .jqx-grid-cell-custom-menu, .jqx-listitem-state-normal-custom-menu, .jqx-menu-item-normal-custom-menu, .jqx-tree-item-normal-custom-menu, .jqx-calendar-cell-custom-menu, .jqx-grid-cell-custom-menu,.jqx-menu-vertical-custom-menu .jqx-menu-item-top-normal-custom-menu, .jqx-input-popup-custom-menu .jqx-fill-state-normal-custom-menu
{
  font-family: Segoe UI;
}
.jqx-widget-custom-menu .jqx-grid-cell-hover-custom-menu, .jqx-listitem-state-hover-custom-menu, .jqx-menu-item-hover-custom-menu, .jqx-tree-item-hover-custom-menu, .jqx-calendar-cell-hover-custom-menu, .jqx-grid-cell-hover-custom-menu,.jqx-menu-vertical-custom-menu .jqx-menu-item-top-hover-custom-menu, .jqx-input-popup-custom-menu .jqx-fill-state-hover-custom-menu,.jqx-input-button-header-custom-menu, .jqx-input-popup-custom-menu .jqx-fill-state-pressed-custom-menu,.jqx-input-button-header-custom-menu
{
  font-family: Segoe UI;
}
.jqx-widget-custom-menu  .jqx-grid-cell-selected-custom-menu, .jqx-listitem-state-selected-custom-menu, .jqx-menu-item-selected-custom-menu, .jqx-tree-item-selected-custom-menu, .jqx-calendar-cell-selected-custom-menu, .jqx-grid-cell-selected-custom-menu,.jqx-menu-vertical-custom-menu .jqx-menu-item-top-selected-custom-menu, .jqx-grid-selectionarea-custom-menu
{
  font-family: Segoe UI;
}
.jqx-icon-calendar-custom-menu
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-custom-menu
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-custom-menu
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-custom-menu
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-first-hover-custom-menu
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-first-selected-custom-menu
{
  background-image: url('images/metro-icon-first-white.png');
}
.jqx-icon-last-custom-menu
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-icon-last-hover-custom-menu
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-icon-last-selected-custom-menu
{
  background-image: url('images/metro-icon-last-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-custom-menu>.jqx-grid-group-expand-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-hover-custom-menu>.jqx-grid-group-expand-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-selected-custom-menu>.jqx-grid-group-expand-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-custom-menu>.jqx-grid-group-collapse-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-hover-custom-menu>.jqx-grid-group-collapse-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-selected-custom-menu>.jqx-grid-group-collapse-custom-menu
{
  background-image: url('images/metro-icon-right-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-custom-menu>.jqx-grid-group-expand-rtl-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-hover-custom-menu>.jqx-grid-group-expand-rtl-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-selected-custom-menu>.jqx-grid-group-expand-rtl-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-custom-menu>.jqx-grid-group-collapse-rtl-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-hover-custom-menu>.jqx-grid-group-collapse-rtl-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-cell-custom-menu.jqx-grid-cell-selected-custom-menu>.jqx-grid-group-collapse-rtl-custom-menu
{
  background-image: url('images/metro-icon-left-white.png');
}
.jqx-grid-column-menubutton-custom-menu, .jqx-grid-column-sortdescbutton-custom-menu
{
  background-image: url('images/metro-icon-down-white.png');
}
.jqx-grid-column-sortascbutton-custom-menu
{
  background-image: url('images/metro-icon-up-white.png');
}
.jqx-icon-delete-custom-menu
{
  background-image: url('images/metro-icon-delete-white.png');
}
.jqx-icon-edit-custom-menu
{
  background-image: url('images/metro-icon-edit-white.png');
}
.jqx-icon-save-custom-menu
{
  background-image: url('images/metro-icon-save-white.png');
}
.jqx-icon-cancel-custom-menu
{
  background-image: url('images/metro-icon-cancel-white.png');
}
.jqx-icon-search-custom-menu
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-custom-menu
{
  background-image: url('images/icon-plus_white.png');
}
