.jqx-widget-custom-abo
{
  font-family: Verdana;
}
.jqx-widget-content-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #000000;
  background: #ffffff;
  font-family: Verdana;
}
.jqx-widget-header-custom-abo, .jqx-grid-custom-abo .jqx-widget-header-custom-abo
{
  color: #000000;
  text-shadow: none;
  border-color: #000000;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton-custom-abo, .jqx-widget-custom-abo.jqx-grid-column-menubutton-custom-abo
{
  border-color: #000000;
}
.jqx-grid-cell-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-custom-abo
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #aaaaaa;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #aaaaaa;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-custom-abo
{
  border-color: #aaaaaa;
  background-color: #efefef;
}
.jqx-widget-custom-abo .jqx-grid-cell-sort-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-filter-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-pinned-custom-abo, .jqx-grid-cell-sort-custom-abo, .jqx-grid-cell-filter-custom-abo, .jqx-grid-cell-pinned-custom-abo
{
  background-color: #aaaaaa;
  color: #222222;
  text-shadow: none;
}
.jqx-widget-custom-abo .jqx-grid-cell-alt-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-sort-alt-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-pinned-alt-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-filter-alt-custom-abo, .jqx-grid-cell-alt-custom-abo, .jqx-grid-cell-sort-alt-custom-abo, .jqx-grid-cell-filter-alt-custom-abo
{
  background-color: #f9f9f9;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-hover-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-hover-custom-abo
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #000000;
  background-color: #9E9E9E;
  background-image: -moz-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -ms-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -o-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9E9E9E), to(#9E9E9E));
  background-image: -webkit-linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(top, #9E9E9E, #9E9E9E);
  background-image: linear-gradient(to bottom, #9E9E9E, #9E9E9E);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-selected-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #000000;
  background-color: #d1d1d1;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #000000;
  background-color: #d1d1d1;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-custom-abo, .jqx-tabs-selection-tracker-top-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #000000;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-custom-abo, .jqx-tabs-selection-tracker-bottom-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #000000;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-custom-abo
{
  background: #9E9E9E;
}
.jqx-splitter-splitbar-vertical-custom-abo, .jqx-splitter-splitbar-horizontal-custom-abo, .jqx-slider-track-horizontal-custom-abo, .jqx-slider-track-vertical-custom-abo
{
  background: #efefef;
}
.jqx-splitter-collapse-button-horizontal-custom-abo, .jqx-splitter-collapse-button-vertical-custom-abo, .jqx-slider-rangebar-custom-abo
{
  background: #d1d1d1;
}
.jqx-scrollbar-state-normal-custom-abo
{
  background-color: #efefef;
  border-color: #efefef;
}
.jqx-grid-bottomright-custom-abo, .jqx-panel-bottomright-custom-abo, .jqx-listbox-bottomright-custom-abo
{
  background-color: #efefef;
}
.jqx-scrollbar-thumb-state-normal-custom-abo
{
  background-color: #efefef;
  background-color: #efefef;
  background-image: -moz-linear-gradient(left, #efefef, #efefef);
  background-image: -ms-linear-gradient(left, #efefef, #efefef);
  background-image: -o-linear-gradient(left, #efefef, #efefef);
  background-image: -webkit-gradient(linear, left top, right top, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(left, #efefef, #efefef);
  background-image: linear-gradient(left, #efefef, #efefef);
  background-image: linear-gradient(left right, #efefef, #efefef);
}
.jqx-scrollbar-thumb-state-normal-horizontal-custom-abo
{
  background-color: #efefef;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-custom-abo
{
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  background-image: -moz-linear-gradient(left, #e8e8e8, #e8e8e8);
  background-image: -ms-linear-gradient(left, #e8e8e8, #e8e8e8);
  background-image: -o-linear-gradient(left, #e8e8e8, #e8e8e8);
  background-image: -webkit-gradient(linear, left top, right top, from(#e8e8e8), to(#e8e8e8));
  background-image: -webkit-linear-gradient(left, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(left, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(left right, #e8e8e8, #e8e8e8);
}
.jqx-scrollbar-thumb-state-hover-horizontal-custom-abo
{
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-custom-abo
{
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  background-image: -moz-linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, left top, right top, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(left, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(left right, #d1d1d1, #d1d1d1);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-custom-abo
{
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-custom-abo
{
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #efefef, #efefef);
  background-image: -ms-linear-gradient(top, #efefef, #efefef);
  background-image: -o-linear-gradient(top, #efefef, #efefef);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
  background-image: -webkit-linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(top, #efefef, #efefef);
  background-image: linear-gradient(to bottom, #efefef, #efefef);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-custom-abo
{
  background-color: #e8e8e8;
  border-color: #aaaaaa;
  background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
  background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-custom-abo
{
  background-color: #d1d1d1;
  border-color: #909090;
  background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
  background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-custom-abo
{
  background: #111111;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-custom-abo
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-radius-topleft: 3px;
  border-radius-topleft: 3px;
}
.jqx-rc-tr-custom-abo
{
  -moz-border-radius-topright: 3px;
  -webkit-border-radius-topright: 3px;
  border-radius-topright: 3px;
}
.jqx-rc-bl-custom-abo
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
}
.jqx-rc-br-custom-abo
{
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
}
.jqx-rc-t-custom-abo
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.jqx-rc-b-custom-abo
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-r-custom-abo
{
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-l-custom-abo
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.jqx-radiobutton-default-custom-abo, .jqx-radiobutton-custom-abo, .jqx-radiobutton-check-checked-custom-abo, .jqx-radiobutton-hover-custom-abo, .jqx-radiobutton-check-indeterminate-custom-abo, .jqx-radiobutton-check-indeterminate-disabled-custom-abo, .jqx-slider-button-custom-abo
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-custom-abo, .jqx-tooltip-custom-abo, .jqx-tooltip-text-custom-abo, .jqx-tooltip-main-custom-abo
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.jqx-grid-column-sortascbutton-custom-abo, .jqx-expander-arrow-bottom-custom-abo, .jqx-window-collapse-button-custom-abo, .jqx-menu-item-arrow-up-custom-abo, .jqx-menu-item-arrow-top-up-custom-abo, .jqx-icon-arrow-up-custom-abo
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-custom-abo
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-custom-abo, .jqx-icon-arrow-up-selected-custom-abo.jqx-expander-arrow-expanded-custom-abo
{
  background-image: url('images/icon-up.png');
}
.jqx-grid-column-menubutton-custom-abo, .jqx-grid-column-sortdescbutton-custom-abo, .jqx-expander-arrow-top-custom-abo, .jqx-window-collapse-button-collapsed-custom-abo, .jqx-menu-item-arrow-down-custom-abo, .jqx-menu-item-arrow-down-custom-abo, .jqx-tree-item-arrow-expand-custom-abo, .jqx-grid-group-expand-custom-abo, .jqx-widget-custom-abo .jqx-grid-group-expand-custom-abo, .jqx-icon-arrow-down-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-custom-abo, .jqx-icon-arrow-down-selected-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-tabs-arrow-left-custom-abo, .jqx-menu-item-arrow-top-left-custom-abo, .jqx-grid-group-collapse-rtl-custom-abo, .jqx-widget-custom-abo .jqx-grid-group-collapse-rtl-custom-abo, .jqx-icon-arrow-left-custom-abo, .jqx-icon-arrow-down-left-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-vertical-custom-abo
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-custom-abo, .jqx-icon-arrow-left-selected-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-custom-abo, .jqx-menu-item-arrow-top-right-custom-abo, .jqx-menu-item-arrow-collapse-custom-abo, .jqx-grid-group-collapse-custom-abo, .jqx-widget-custom-abo .jqx-grid-group-collapse-custom-abo, .jqx-icon-arrow-right-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected-custom-abo, .jqx-icon-arrow-right-selected-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-window-close-button-custom-abo, .jqx-tabs-close-button-custom-abo, .icon-close-custom-abo
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-custom-abo
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-custom-abo
{
  background-image: url('images/close.png');
}
.jqx-widget-custom-abo .jqx-grid-column-header-custom-abo, .jqx-widget-custom-abo .jqx-grid-cell-custom-abo, .jqx-widget-custom-abo .jqx-grid-group-cell-custom-abo, .jqx-grid-cell-custom-abo
{
  border-color: #aaaaaa;
}
.jqx-checkbox-check-checked-custom-abo
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-custom-abo
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-custom-abo, .jqx-tooltip-main-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #aaaaaa;
  background-color: #efefef;
}
.jqx-combobox-content-custom-abo, .jqx-input-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #000000;
  background-color: #ffffff;
}
.jqx-combobox-input-custom-abo
{
  color: #222222;
  text-shadow: none;
}
.jqx-input-content-custom-abo
{
  color: #222222;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-custom-abo, .jqx-popup-custom-abo .jqx-fill-state-focus-custom-abo
{
  border-color: #111111;
}
.jqx-popup-custom-abo.jqx-listbox-custom-abo, .jqx-popup-custom-abo.jqx-calendar-custom-abo,.jqx-menu-dropdown-custom-abo,  .jqx-popup-custom-abo.jqx-dropdownbutton-popup-custom-abo
{
  color: #222222;
  text-shadow: none;
  border-color: #111111;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-custom-abo, .jqx-tree-item-arrow-collapse-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-up-custom-abo
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-left-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-right-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-bottom-custom-abo
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-up-hover-custom-abo
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-left-hover-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-right-hover-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-bottom-hover-custom-abo
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-up-selected-custom-abo
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-left-selected-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-right-selected-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-custom-abo .jqx-icon-arrow-bottom-selected-custom-abo
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-custom-abo .jqx-icon-arrow-up-custom-abo, .jqx-tabs-header-custom-abo .jqx-icon-arrow-up-custom-abo
{
}
.jqx-calendar-custom-abo .jqx-icon-arrow-left-custom-abo, .jqx-tabs-header-custom-abo .jqx-icon-arrow-left-custom-abo
{
}
.jqx-calendar-custom-abo .jqx-icon-arrow-right-custom-abo, .jqx-tabs-header-custom-abo .jqx-icon-arrow-right-custom-abo
{
}
.jqx-calendar-custom-abo .jqx-icon-arrow-bottom-custom-abo, .jqx-tabs-header-custom-abo .jqx-icon-arrow-bottom-custom-abo
{
}
.jqx-widget-custom-abo .jqx-grid-cell-custom-abo, .jqx-listitem-state-normal-custom-abo, .jqx-menu-item-normal-custom-abo, .jqx-tree-item-normal-custom-abo, .jqx-calendar-cell-custom-abo, .jqx-grid-cell-custom-abo,.jqx-menu-vertical-custom-abo .jqx-menu-item-top-normal-custom-abo, .jqx-input-popup-custom-abo .jqx-fill-state-normal-custom-abo
{
  font-family: Verdana;
}
.jqx-widget-custom-abo .jqx-grid-cell-hover-custom-abo, .jqx-listitem-state-hover-custom-abo, .jqx-menu-item-hover-custom-abo, .jqx-tree-item-hover-custom-abo, .jqx-calendar-cell-hover-custom-abo, .jqx-grid-cell-hover-custom-abo,.jqx-menu-vertical-custom-abo .jqx-menu-item-top-hover-custom-abo, .jqx-input-popup-custom-abo .jqx-fill-state-hover-custom-abo,.jqx-input-button-header-custom-abo, .jqx-input-popup-custom-abo .jqx-fill-state-pressed-custom-abo,.jqx-input-button-header-custom-abo
{
  font-family: Verdana;
}
.jqx-widget-custom-abo  .jqx-grid-cell-selected-custom-abo, .jqx-listitem-state-selected-custom-abo, .jqx-menu-item-selected-custom-abo, .jqx-tree-item-selected-custom-abo, .jqx-calendar-cell-selected-custom-abo, .jqx-grid-cell-selected-custom-abo,.jqx-menu-vertical-custom-abo .jqx-menu-item-top-selected-custom-abo, .jqx-grid-selectionarea-custom-abo
{
  font-family: Verdana;
}
.jqx-icon-calendar-custom-abo
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-custom-abo
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-custom-abo
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-custom-abo
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-custom-abo
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected-custom-abo
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-last-custom-abo
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-custom-abo
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected-custom-abo
{
  background-image: url('images/icon-last.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-custom-abo>.jqx-grid-group-expand-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-hover-custom-abo>.jqx-grid-group-expand-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-selected-custom-abo>.jqx-grid-group-expand-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-custom-abo>.jqx-grid-group-collapse-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-hover-custom-abo>.jqx-grid-group-collapse-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-selected-custom-abo>.jqx-grid-group-collapse-custom-abo
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-custom-abo>.jqx-grid-group-expand-rtl-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-hover-custom-abo>.jqx-grid-group-expand-rtl-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-selected-custom-abo>.jqx-grid-group-expand-rtl-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-custom-abo>.jqx-grid-group-collapse-rtl-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-hover-custom-abo>.jqx-grid-group-collapse-rtl-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-custom-abo.jqx-grid-cell-selected-custom-abo>.jqx-grid-group-collapse-rtl-custom-abo
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-column-menubutton-custom-abo, .jqx-grid-column-sortdescbutton-custom-abo
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-column-sortascbutton-custom-abo
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-delete-custom-abo
{
  background-image: url('images/icon-delete.png');
}
.jqx-icon-edit-custom-abo
{
  background-image: url('images/icon-edit.png');
}
.jqx-icon-save-custom-abo
{
  background-image: url('images/icon-save.png');
}
.jqx-icon-cancel-custom-abo
{
  background-image: url('images/icon-cancel.png');
}
.jqx-icon-search-custom-abo
{
  background-image: url('images/icon-search.png');
}
.jqx-icon-plus-custom-abo
{
  background-image: url('images/icon-plus.png');
}
